<h1>Video</h1>
<hr>

<h2>Assetsに配置したmp4ファイル</h2>
<video src="<%= asset_path 'sample.mp4' %>"
       width="640" height="360"
       autoplay muted loop playsinline>
</video>

<hr>

<h2>Publicに配置したmp4ファイル</h2>
<video src="/movie/sample.mp4"
       width="640" height="360"
       autoplay muted loop playsinline>
</video>

<hr>

<h2>素材</h2>
<a href="https://videos.pexels.com/videos/typing-of-codes-854053">Free stock video of blur, codes, computer</a>
