<footer class="footer">
  <small>
    <a href="https://github.com/NaokiIshimura/">Naoki Ishimura</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/NaokiIshimura/">Github</a></li>
      <li><a href="https://www.linkedin.com/in/naoki-ishimura/">LinkedIn</a></li>
      <li><a href="http://qiita.com/NaokiIshimura/">Qiita</a></li>
    </ul>
  </nav>
</footer>
