<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>Naoki Ishimura
    &middot; <a href="https://github.com/NaokiIshimura/">Github</a>
    &middot; <a href="https://www.linkedin.com/in/naoki-ishimura/">LinkedIn</a>
    &middot; <a href="http://qiita.com/NaokiIshimura/">Qiita</a>
  </p>
</footer>
